<div class="mcDate">
  <div class="mcDate__datepicker-wrap" layout="row">
    <div layout="column">
      <label>с</label>
      <md-datepicker class="mcDate__datepicker" md-max-date="$ctrl.maxDate" md-hide-icons="calendar" md-placeholder="не указана" ng-change="$ctrl.changeDate()" ng-model="$ctrl.from"></md-datepicker>
    </div>
    <div class="mcDate__divider"></div>
    <div layout="column">
      <label>по</label>
      <md-datepicker class="mcDate__datepicker" md-min-date="$ctrl.minDate" md-hide-icons="calendar" md-placeholder="не указана" ng-change="$ctrl.changeDate()" ng-model="$ctrl.to"></md-datepicker>
    </div>
  </div>
  <div class="mcDate__options" layout="row" layout-align="space-between start">
    <div class="mcDate__option" ng-click="$ctrl.selectPredefinedDates($ctrl.PredefinedDatesRange.Yesterday)">Вчера</div>
    <div class="mcDate__option" ng-click="$ctrl.selectPredefinedDates($ctrl.PredefinedDatesRange.Today)">Сегодня</div>
    <div class="mcDate__option" ng-click="$ctrl.selectPredefinedDates($ctrl.PredefinedDatesRange.TwoWeeks)">2 недели</div>
    <div class="mcDate__option" ng-click="$ctrl.selectPredefinedDates($ctrl.PredefinedDatesRange.Month)">Месяц</div>
    <div class="mcDate__option" ng-click="$ctrl.selectPredefinedDates($ctrl.PredefinedDatesRange.All)">Все</div>
  </div>
</div>