.mcDate {
  display: inline-block;
  
  &__datepicker {
    padding-top: 14px;
    padding-bottom: 8px;
    &-wrap {
      min-height: 54px;
      label {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.541176);
        margin-bottom: -6px;
      }
    }
  }
  &__divider {
    display: inline-block;
    width: 14px;
  }
  &__options {
    font-size: 12px;
  }
  &__option {
    cursor: pointer;
    outline: none;
    &:hover {
      text-decoration: underline;
    }
  }
}